@mixin android-examples-theme($theme) {
	@if ($theme) {
		$primary: map-get($theme, primary);
		$accent: map-get($theme, accent);
		$background: map-get($theme, background);
		$foreground: map-get($theme, foreground);
		.active-link {
			color: mat-color($primary) !important;
			mat-icon {
				color: mat-color($primary) !important;
			}
			background-color: map-get($background, status-bar) !important;
		}
		a.anchor-link {
			color: mat-color($primary);
			&:active {
				color: mat-color($accent);
			}
		}
		.mat-list-item-content mat-icon {
			color: map-get($foreground, icons);
		}
	} @else {
		@error 'Please pass in a theme to this mixin.';	
	}
}

@mixin tables-theme($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);
    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);
    $is-dark-theme: map-get($theme, is-dark);
    $tableBorderOpacity: if($is-dark-theme, 0.08, 0.03);
    table.app-table {
        color: mat-color($foreground, text);
        th {
            background: mat-color($background, app-bar);
        }
        td {
            border: 1px solid rgba(mat-color($foreground, secondary-text), $tableBorderOpacity);
        }
    }
}